.dark {
    --bg-color: #024211;
    --inverted-bg-color: #263456;
    --primary-color: #058a05;
    --secondary-color: #1ff31f;
    --inverted-primary-color: #05015d;
    --inverted-secondary-color: #3468be;
}