:root {
    --bg-color: #eeecec;
    --inverted-bg-color: #72a6e5;
    --primary-color: #05015d;
    --secondary-color: #3468be;
    --inverted-primary-color: #017a01;
    --inverted-secondary-color: #58ef58;
}