.Navbar {
    height: var(--navbar-height);
    width: 100%;
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
    outline: groove var(--bg-color);
}

.links {
    margin-left: auto;

}

.main_link {
    margin-right: 15px;
}